body{
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: 'Microsoft YaHei',serif;
}
.clear{
    clear: both;
}
.full{
    width: 100%;
    border-bottom: 1px solid #EEE;
}
.container{
    margin: 0px auto;
    width: 1000px;
}
.tophead{
    height: 25px;
}
.tophead .container div{
    padding-top: 2px;
}
.header{
    height: 100px;
}
.header .container div{
    padding-top: 20px;
}
.nav{
    height: 40px;
}
.nav .container div{
    padding-top: 10px;
}
.main{
    height: 800px;
}
.footer{
    height: 100px;
}
.footer .container div{
    padding-top: 10px;
}
/*<!----header---->*/
.logo{
    width: 15%;
    float: left;
}
.webtitle{
    width: 60%;
    float: left;
}
.search{
    width: 25%;
    float: left;
}
/*<!----nav---->*/
.nav ul,li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav ul li{
    float: left;
    background: red;
    color: #fff;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.nav ul li.liright{
    float: right;
}
/*<!----main---->*/
.mainleft{
    float: left;
    width: 20%;
    margin-top: 10px;
}
.mainleft div{
    width: auto;
    border: 1px solid #EEE;
    height: 500px;
    margin-right: 10px;
    background-color: #FFF;
}
.maincenter{
    float: left;
    width: 60%;
    margin-top: 20px;
}
.maincenter div{
    width: auto;
    border: 1px solid #EEE;
    height: 600px;
    background-color: #FFF;
}
.mainright{
    float: left;
    width: 20%;
    margin-top: 15px;
}
.mainright div{
    width: auto;
    border: 1px solid #EEE;
    height: 400px;
    margin-left: 10px;
    background-color: #FFF;
}